.enroll_container {
  position: relative;
  font-family: "Poppins";
  top: 100px;
  left: 7%;
  width: 90%;
  box-sizing: border-box;
}

.card_outer{
  display: flex;
  flex-wrap: wrap;

  gap: 2rem;
}

.card_container {
  display: flex;
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 20px;
  max-width: 358px;
  height: 245px;
  flex-wrap: wrap;
  position: relative;
}

.card_content {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  text-align: start;
  justify-content: space-between;
  width: 90%;
  color: white;
}

.friendsText {
  color: #800080;
  font-weight: 600;
  font-size: 20px;
  text-align: start;
  margin-bottom: 1rem;
}

.name_date {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
}

.courses_enrolled,
.referral_amount {
  font-size: 14px;
  line-height: 21px;
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills {
  border: 1.5px solid #eeaeae;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 4px 9px;
  font-weight: 400;
  font-size: 14px;
}

.referral_span {
  font-weight: 600;
  font-size: 24px;
}

.footer {
  margin-top: 3.2rem;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #800080;
}

@media (max-width:1280px) {
  .card_outer{
  justify-content: center;
  align-items: center;
  }
}